.bigquote {
    padding: 3em 0;
    @include content-padding();
    margin: 1em 0;
    .quote {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    .quote::before{
        content: "\201C"
    }
    .quote::after{
        content: "\201D"
    }

    .byline {
        text-align: right;
        font-size: 2em;
    }
    .byline::before {
        content: "\2014\0020";
    }

    &.green-quote{
        background-color: $color-green;
        background: $gradient-green;

        .quote {
            text-transform: uppercase;
            color: $color-yellow;
            line-height: 1.5em;
        }
        .byline {
            color: $color-white;
        }
    }

    &.yellow-quote {
        background-color: $color-yellow;
        font-family: $serif;
        color: $color-black;

        .quote {
            line-height: 1.25em;
        }
        .byline {
            font-style: italic;
        }
    }

    &.smaller {
        &.green-quote .quote {
            font-size: 2em;
        }
        &.yellow-quote .quote {
            font-size: 3em;
        }
    }

    @include media-xl {
        &.green-quote .quote {
            font-size: 2.5em;
        }
        &.yellow-quote .quote {
            font-size: 4em;
        }
    }
    @include media-lg {
        &.green-quote .quote {
            font-size: 2.25em;
        }
        &.yellow-quote .quote {
            font-size: 3.5em;
        }
    }
    @include media-md {
        &.green-quote .quote {
            font-size: 2em;
        }
        &.yellow-quote .quote {
            font-size: 3em;
        }
    }
    @include media-sm {
        &.green-quote .quote {
            font-size: 2em;
        }
        &.yellow-quote .quote {
            font-size: 3em;
        }
    }
    @include media-xs {
        &.green-quote .quote {
            font-size: 1.75em;
        }
        &.yellow-quote .quote {
            font-size: 2.5em;
        }
    }
}