@import 'mixins/links';

@mixin buttonify($btnBlock: false) {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: background-color, color, padding, width, height;
    text-decoration: none;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;

    @if ($btnBlock){
        display: block;
    } @else {
        display: inline-block;
    }

    padding: 1em;

    &.active {
        cursor: auto;
    }
}

@mixin btn-variant($main-color, $main-bg, $active-color, $active-bg, $ternary-color: '', $ternary-bg: '', $underline-mode: -1){
    background-color: $main-bg;
    
    &:hover,
    &:focus,
    &[aria-expanded=true],
    &.active {
        background-color: $active-bg;
    }
    @if ($ternary-bg) {
        &.active-branch {
            background-color: $ternary-bg;
        }
        &.active-branch:hover,
        &.active-branch:focus,
        &.active-branch[aria-expanded=true],
        &.active-branch.active {
            background-color: $active-bg;
        }
    }
    
    @include linkColor($main-color, $active-color, $ternary-color);
    @if ($underline-mode > -1) {
        @include linkUnderline($underline-mode);
    }
}

@mixin btn-border($main-color: $color-gray64, $active-color: $color-gray60, $width: 1px) {
    border-width: $width;
    border-style: solid;
    border-color: $main-color;

    &:hover,
    &:focus,
    &[aria-expanded=true],
    &.active {
        border-color: $active-color;
    }
}