@mixin fixed-container() {
	margin: 0 auto;
	@include container-padding();
	@include media-xl {
		max-width: 1220px;
	}
	@include media-lg {
		max-width: 1050px;
	}
	@include media-md {
		max-width: 880px;
	}
	@include media-sm {
	}
	@include media-xs {
	}
}

@mixin container-padding($factor: 1) {
	@include media-xl {
		padding: 0 ($content-padding-xl * $factor);
	}
	@include media-lg {
		padding: 0 ($content-padding-lg * $factor);
	}
	@include media-md {
		padding: 0 ($content-padding-md * $factor);
	}
	@include media-sm {
		padding: 0 ($content-padding-sm * $factor);
	}
	@include media-xs {
		padding: 0 ($content-padding-xs * $factor);
	}
}

@mixin content-padding($factor: 1, $padSide: true) {
	@if ($padSide) {
		@include media-xl {
			padding: $content-padding-xl * $factor;
		}
		@include media-lg {
			padding: $content-padding-lg * $factor;
		}
		@include media-md {
			padding: $content-padding-md * $factor;
		}
		@include media-sm {
			padding: $content-padding-sm * $factor;
		}
		@include media-xs {
			padding: $content-padding-xs * $factor;
		}
	}
	@else {
		@include media-xl {
			padding-top: $content-padding-xl * $factor;
			padding-bottom: $content-padding-xl * $factor;
		}
		@include media-lg {
			padding-top: $content-padding-lg * $factor;
			padding-bottom: $content-padding-lg * $factor;
		}
		@include media-md {
			padding-top: $content-padding-md * $factor;
			padding-bottom: $content-padding-lg * $factor;
		}
		@include media-sm {
			padding-top: $content-padding-sm * $factor;
			padding-bottom: $content-padding-lg * $factor;
		}
		@include media-xs {
			padding-top: $content-padding-xs * $factor;
			padding-bottom: $content-padding-lg * $factor;
		}
	}
}

@mixin col-size($n, $screen-size) {
	.col-#{$screen-size}-#{$n} {
		flex: $n 1 (100%/$flex-base*$n);
	}
}
