<div class="green-bar">
    <div class="container flex-container flex-middle flex-wrap flex-right">
        <h1><a href="https://www.ndsu.edu"><img src="/ndsu-web-template/images/NDSU.twolines.gif" alt="North Dakota State University" title="" height="40" class="header-ndsu-logo" /></a></h1>
        <button type="button" class="btn btn-yellow navbar-toggle"><span class="sr-only">Mobile menu</span></button>
        {{#if showGlobalLinks}}

        {{#getJsonContext '{
        "additionalClasses": [
            "navbar-mobilize"
        ],
        "links": [
            {
                "url": "link1",
                "text": "Link 1"
            },
            {
                "url": "link2",
                "text": "Link 2"
            },
            {
                "url": "link3",
                "text": "Link 3"
            },
            {
                "url": "link4",
                "text": "Link 4"
            }
        ]
        }'}}
        {{> _navbar this }}
        {{/getJsonContext}}
        {{/if}}
        <div class="hide-sm-down">
        {{> _search-form formId="globalSearchForm" inputName="q" }}
        </div>
    </div>
</div>
