<div class="green-bar">
    <div class="container flex-row flex-middle flex-right flex-wrap">
        <h1><a href="https://www.ndsu.edu"><img src="/ndsu-web-template/images/NDSU-twolines-small.png" alt="North Dakota State University" title="" height="25" class="header-ndsu-logo" /></a></h1>
        <button type="button" class="btn btn-yellow navbar-toggle"><span class="sr-only">Mobile menu</span></button>
        {{#if showGlobalLinks}}

        {{#getJsonContext '{
        "additionalClasses": [
            "navbar-mobilize"
        ],
        "links": [
            {
                "url": "https://www.ndsu.edu/about/",
                "text": "About NDSU"
            },
            {
                "url": "https://www.ndsu.edu/academics/",
                "text": "Academics"
            },
            {
                "url": "https://www.ndsu.edu/admission/",
                "text": "Admission"
            },
            {
                "url": "http://www.gobison.com",
                "text": "Athletics"
            }
        ]
        }'}}
        {{> _navbar this }}
        {{/getJsonContext}}
        {{/if}}
        <div class="hide-sm-down">
        {{> _search-form action="https://www.ndsu.edu/search/" formId="searchform" inputName="q" placeHolder="Search NDSU" searchText="Submit" }}
        </div>
    </div>
</div>
