<head>
    <title>{{#if headTitle}} {{ headTitle }} {{ else }}NDSU - North Dakota State University{{/if}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="https://static.ndsu.nodak.edu/favicon.ico" />
    <meta name="language" content="en-US" />
    <meta name="viewport" content="width=device-width">
    {{#> head-block }}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css" />
    {{/head-block}}
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500" />
</head>
