@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/buttons';
@import 'mixins/links';
@import 'mixins/overlay';

// Set base font size
:root {
	font-size: $font-size-rem-base;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: $sans-serif;
	font-size: 1rem;
    line-height: 1.5em;
	min-height: 100vh;
}

button, input, table, td, th {
	font-family: inherit;
}


@include media-xl {
	h1 { font-size: 2em; }
	h2 { font-size: 2.5em; }
	h3 { font-size: 2.25em; }
	h4 { font-size: 2em; }
	h5 { font-size: 1.25em; }
	h6 { font-size: 1em; }
}
@include media-sm {
	h1 { font-size: 2em; }
	h2 { font-size: 1.75em; }
	h3 { font-size: 1.5em; }
	h4 { font-size: 1.25em; }
	h5 { font-size: 1em; }
	h6 { font-size: 1em; }
}

blockquote {
	font-size: $font-size-rem-base;
}

// Standardize link color and underline style
a {
	@include linkColor();
	@include linkUnderline(2);
}

h1, h2, h3, h4, h5 {
	font-family: $ndsu-sans;
	margin-top: 1em;
	margin-bottom: 0.75em;
	font-weight: 400;
}

footer,
header {
	font-family: $ndsu-sans;
	font-weight: 500;
}
header {
	.green-bar{
		background-color:$color-green;
		background-image: url(https://static.ndsu.nodak.edu/templates/images/bg_header.jpg);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: top left;

		.navbar .nav-link{
    		@include btn-variant($color-yellow, transparent, $color-white, transparent);
		}

		h1 {
			margin-top: 0;
			margin-bottom: 0;
			flex-grow: 1;
		}

		h1 a{
			@include linkColor($color-yellow, $color-white);
		}

		.header-ndsu-logo{
			display: block;
		}

		@include media-xs() {
			h1 img {
				max-width: 210px;
				height: auto;
			}
		}
		
	}

	.page-title-bar {
		border-bottom: 1px solid $color-gray90;
	}

	.main-nav {
		background-color: $default-secondary-bg-color;
	}

	@include media-xl {

		h2.page-title{
			font-size: 2em;
			font-weight: 100;
			padding-top: 0.75em;
			padding-bottom: 0.25em;
			margin-top:0;
			margin-bottom: 0;
			border-bottom: none;
		}

		.search-form {
			margin-left: 1em;
			width: 14em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}
	@include media-md {
		.search-form {
			width: 13em;
		}
	}
	@include media-sm {
		.page-title-wrapper {
			background-color: $color-gray7;
			color: $color-white;
			border-bottom: 1px solid $color-black;
			padding: 0.75em 1em;
		}
		h2.page-title {
			font-size: 1.25em;
			font-weight: bold;
			padding: 0.25em 0;
			margin-right: 1em;
		}
		
		.search-form {
			margin-left: 0;
			width: 14em;
		}
	}
	@include media-xs {
	.row.page-title-wrapper {
			flex-direction: column;
			align-items: stretch;
		}
		.search-form {
			width: auto;
		}
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	clip-path: inset(50%);
	border: 0;
  }
  
  .sr-only-focusable {
	&:active,
	&:focus {
	  position: static;
	  width: auto;
	  height: auto;
	  overflow: visible;
	  clip: auto;
	  white-space: normal;
	  clip-path: none;
	}
  }
  
  .sr-navigation {
	  position: absolute;
	  z-index: $z-index-popup;
	  ul {
		  margin: 0;
		  padding: 0;
	  }
	  a {
		  @include linkColor($color-white, $color-yellow);
		  background-color: rgba($color-black, 0.5);
	  }
  }
  
  
  // Text aligns
  .text-left{
	  text-align: left;
  }
  
  .text-center {
	  text-align: center;
  }
  
  .text-right {
	  text-align: right;
  }
  
  .text-justify {
	  text-align: justify;
  }
  
  
  
  // Hidden classes
  @each $size in $media-sizes {
	  .hide-#{$size}-down {
		  @include media-size($size) {
			  display: none !important;
		  }
	  }
  }
  @each $size in $media-sizes {
	  .hide-#{$size}-up {
		  display: none !important;
		  @include media-size($size) {
			  display: block !important;
		  }
	  }
  }
  
  // Removing styles for list elements
  ul.remove-list-style{
	  list-style: none;
  }
  ul.inline-list{
	  list-style: none;
	  li {
		  margin: 0;
		  display: inline-block;
	  }
  }
  
  
  // Full overlay element covering the entire page
  .full-overlay{
	  @include full-overlay();
  }
  
  // Some special margin utils
  .m-auto  { margin:        auto !important; }
  .mt-auto { margin-top:    auto !important; }
  .mr-auto { margin-right:  auto !important; }
  .mb-auto { margin-bottom: auto !important; }
  .ml-auto { margin-left:   auto !important; }
  .mx-auto {
	  margin-right: auto !important;
	  margin-left:  auto !important;
  }
  
  .my-auto {
	  margin-top:    auto !important;
	  margin-bottom: auto !important;
  }