.btn {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color, padding, width, height;
  transition-property: background-color, color, padding, width, height;
  text-decoration: none;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3;
  font-weight: 600; }
  .btn.active {
    cursor: auto; }
  .btn:hover, .btn:focus, .btn[aria-expanded=true], .btn.active {
    border-color: #999999; }

a.btn {
  text-decoration: none; }

a.btn:hover, a.btn:focus, a.btn[aria-expanded=true], a.btn.active {
  text-decoration: none; }

.btn-yellow {
  background-color: #ffcc00;
  border-width: 1px;
  border-style: solid;
  border-color: transparent; }
  .btn-yellow:hover, .btn-yellow:focus, .btn-yellow[aria-expanded=true], .btn-yellow.active {
    background-color: #ffd633; }
  .btn-yellow.active-branch {
    background-color: ""; }
  .btn-yellow.active-branch:hover, .btn-yellow.active-branch:focus, .btn-yellow.active-branch[aria-expanded=true], .btn-yellow.active-branch.active {
    background-color: #ffd633; }
  .btn-yellow {
    color: #121212; }
  .btn-yellow:hover, .btn-yellow:focus, .btn-yellow[aria-expanded=true], .btn-yellow.active {
    color: #333333; }
  .btn-yellow.active-branch {
    color: ""; }
  .btn-yellow.active-branch:hover, .btn-yellow.active-branch:focus, .btn-yellow.active-branch[aria-expanded=true], .btn-yellow.active-branch.active {
    color: #333333; }
  .btn-yellow:hover, .btn-yellow:focus, .btn-yellow[aria-expanded=true], .btn-yellow.active {
    border-color: transparent; }

.btn-green {
  background-color: #002119;
  border-width: 1px;
  border-style: solid;
  border-color: transparent; }
  .btn-green:hover, .btn-green:focus, .btn-green[aria-expanded=true], .btn-green.active {
    background-color: #003b2c; }
  .btn-green.active-branch {
    background-color: ""; }
  .btn-green.active-branch:hover, .btn-green.active-branch:focus, .btn-green.active-branch[aria-expanded=true], .btn-green.active-branch.active {
    background-color: #003b2c; }
  .btn-green {
    color: #e5e5e5; }
  .btn-green:hover, .btn-green:focus, .btn-green[aria-expanded=true], .btn-green.active {
    color: #f2f2f2; }
  .btn-green.active-branch {
    color: ""; }
  .btn-green.active-branch:hover, .btn-green.active-branch:focus, .btn-green.active-branch[aria-expanded=true], .btn-green.active-branch.active {
    color: #f2f2f2; }
  .btn-green:hover, .btn-green:focus, .btn-green[aria-expanded=true], .btn-green.active {
    border-color: transparent; }

.btn-darkgray {
  background-color: #222222; }
  .btn-darkgray:hover, .btn-darkgray:focus, .btn-darkgray[aria-expanded=true], .btn-darkgray.active {
    background-color: #050505; }
  .btn-darkgray.active-branch {
    background-color: ""; }
  .btn-darkgray.active-branch:hover, .btn-darkgray.active-branch:focus, .btn-darkgray.active-branch[aria-expanded=true], .btn-darkgray.active-branch.active {
    background-color: #050505; }
  .btn-darkgray {
    color: #fff; }
  .btn-darkgray:hover, .btn-darkgray:focus, .btn-darkgray[aria-expanded=true], .btn-darkgray.active {
    color: #ffcc00; }
  .btn-darkgray.active-branch {
    color: ""; }
  .btn-darkgray.active-branch:hover, .btn-darkgray.active-branch:focus, .btn-darkgray.active-branch[aria-expanded=true], .btn-darkgray.active-branch.active {
    color: #ffcc00; }

.btn-darkgray-yellow {
  background-color: #333333; }
  .btn-darkgray-yellow:hover, .btn-darkgray-yellow:focus, .btn-darkgray-yellow[aria-expanded=true], .btn-darkgray-yellow.active {
    background-color: #ffcc00; }
  .btn-darkgray-yellow.active-branch {
    background-color: ""; }
  .btn-darkgray-yellow.active-branch:hover, .btn-darkgray-yellow.active-branch:focus, .btn-darkgray-yellow.active-branch[aria-expanded=true], .btn-darkgray-yellow.active-branch.active {
    background-color: #ffcc00; }
  .btn-darkgray-yellow {
    color: #fff; }
  .btn-darkgray-yellow:hover, .btn-darkgray-yellow:focus, .btn-darkgray-yellow[aria-expanded=true], .btn-darkgray-yellow.active {
    color: #333333; }
  .btn-darkgray-yellow.active-branch {
    color: ""; }
  .btn-darkgray-yellow.active-branch:hover, .btn-darkgray-yellow.active-branch:focus, .btn-darkgray-yellow.active-branch[aria-expanded=true], .btn-darkgray-yellow.active-branch.active {
    color: #333333; }

.btn-clear-yellow {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #a3a3a3; }
  .btn-clear-yellow:hover, .btn-clear-yellow:focus, .btn-clear-yellow[aria-expanded=true], .btn-clear-yellow.active {
    background-color: #ffcc00; }
  .btn-clear-yellow.active-branch {
    background-color: ""; }
  .btn-clear-yellow.active-branch:hover, .btn-clear-yellow.active-branch:focus, .btn-clear-yellow.active-branch[aria-expanded=true], .btn-clear-yellow.active-branch.active {
    background-color: #ffcc00; }
  .btn-clear-yellow {
    color: #ffcc00; }
  .btn-clear-yellow:hover, .btn-clear-yellow:focus, .btn-clear-yellow[aria-expanded=true], .btn-clear-yellow.active {
    color: #222222; }
  .btn-clear-yellow.active-branch {
    color: ""; }
  .btn-clear-yellow.active-branch:hover, .btn-clear-yellow.active-branch:focus, .btn-clear-yellow.active-branch[aria-expanded=true], .btn-clear-yellow.active-branch.active {
    color: #222222; }
  .btn-clear-yellow:hover, .btn-clear-yellow:focus, .btn-clear-yellow[aria-expanded=true], .btn-clear-yellow.active {
    border-color: #ffcc00; }

.btn-clear-yellow-white {
  background-color: transparent; }
  .btn-clear-yellow-white:hover, .btn-clear-yellow-white:focus, .btn-clear-yellow-white[aria-expanded=true], .btn-clear-yellow-white.active {
    background-color: transparent; }
  .btn-clear-yellow-white.active-branch {
    background-color: ""; }
  .btn-clear-yellow-white.active-branch:hover, .btn-clear-yellow-white.active-branch:focus, .btn-clear-yellow-white.active-branch[aria-expanded=true], .btn-clear-yellow-white.active-branch.active {
    background-color: transparent; }
  .btn-clear-yellow-white {
    color: #ffcc00; }
  .btn-clear-yellow-white:hover, .btn-clear-yellow-white:focus, .btn-clear-yellow-white[aria-expanded=true], .btn-clear-yellow-white.active {
    color: #fff; }
  .btn-clear-yellow-white.active-branch {
    color: ""; }
  .btn-clear-yellow-white.active-branch:hover, .btn-clear-yellow-white.active-branch:focus, .btn-clear-yellow-white.active-branch[aria-expanded=true], .btn-clear-yellow-white.active-branch.active {
    color: #fff; }

.btn-large {
  padding: 1.5em 2em; }

.btn-tiny {
  padding: 0.25em 0.5em; }

.btn-block {
  display: block; }
