.btn {
    transition: all 0.3s ease-out;
    @include buttonify();
    @include btn-border();
    font-weight: 600;
}
a.btn {
    @include linkUnderline(-1);
}

.btn-yellow {
    @include btn-variant($color-gray7, $color-yellow, $color-gray20, lighten($color-yellow,10%));
    @include btn-border(transparent, transparent);
}
.btn-green {
    @include btn-variant($color-gray90, $color-green, $color-gray95, lighten($color-green, 5%));
    @include btn-border(transparent, transparent);
}

.btn-darkgray {
    @include btn-variant($color-white, $color-gray13, $color-yellow, $color-gray2);
}
.btn-darkgray-yellow {
    @include btn-variant($color-white, $color-gray20, $color-gray20, $color-yellow);
}


.btn-clear-yellow {
    @include btn-variant($color-yellow, transparent, $color-gray13, $color-yellow);
    @include btn-border($active-color: $color-yellow);
}
.btn-clear-yellow-white {
    @include btn-variant($color-yellow, transparent, $color-white, transparent);
}

.btn-large {
    padding: 1.5em 2em;
}
.btn-tiny {
    padding: 0.25em 0.5em;
}

.btn-block{
    display: block;
}