{{#> _default-pub }}
<div class="layout">
    {{#if reverse }}
    <div class="main-col">
        {{> @partial-block}}
    </div>
    {{/if}}
    <section class="nav-col">
        <section class=" hide-sm-down" role="navigation">
            <h5 class="sub-nav-title"><a href="quick-nav/">Quick Navigation</a></h5>
            {{#getJsonContext '{
            "additionalClasses": [
                "navbar-vertical",
                "navbar-mobilize"
            ],
            "links": [
                {
                "url": "#",
                "text": "Side Link 1"
                },
                {
                "url": "#",
                "text": "Side Link 2"
                },
                {
                "url": "#",
                "text": "Side Link 3"
                }
            ]
            }'}}
            {{> _navbar-main this }}
            {{/getJsonContext}}
        </section>
    </section>
    {{#unless reverse }}
    <div class="main-col">
        {{> @partial-block}}
    </div>
    {{/unless}}
</div>
{{/_default-pub }}