.search-form {
  position: relative; }
  .search-form input, .search-form button {
    font-size: 1em; }
  .search-form input {
    padding: 0.5em 2.5em 0.5em 1em;
    border: 0;
    width: 100%;
    background-color: #e5e5e5;
    -webkit-transition: 0.3s ease-out background-color;
    transition: 0.3s ease-out background-color;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .search-form input:active, .search-form input:focus {
      background-color: #fcfcfc; }
  .search-form button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    width: 2em;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1; }
    .search-form button:hover, .search-form button:focus, .search-form button[aria-expanded=true], .search-form button.active {
      background-color: rgba(204, 204, 204, 0.5); }
    .search-form button.active-branch {
      background-color: ""; }
    .search-form button.active-branch:hover, .search-form button.active-branch:focus, .search-form button.active-branch[aria-expanded=true], .search-form button.active-branch.active {
      background-color: rgba(204, 204, 204, 0.5); }
    .search-form button {
      color: #e5e5e5; }
    .search-form button:hover, .search-form button:focus, .search-form button[aria-expanded=true], .search-form button.active {
      color: #fff; }
    .search-form button.active-branch {
      color: ""; }
    .search-form button.active-branch:hover, .search-form button.active-branch:focus, .search-form button.active-branch[aria-expanded=true], .search-form button.active-branch.active {
      color: #fff; }
    .search-form button img.search-img {
      width: 1em;
      height: 1em; }
