@import 'variables';
@import 'mixins/buttons';

.search-form {
	position: relative;
	input, button {
		font-size: 1em;
	}
	input {
		padding: 0.5em 2.5em 0.5em 1em;
		border: 0;
		width: 100%;
		background-color: $color-gray90;
		transition: 0.3s ease-out background-color;
		box-sizing: border-box;

		&:active,
		&:focus {
			background-color: $color-gray99;
		}
	}
	button {
		border: none;
		@include btn-variant($color-gray90, $color-clear, $color-white, rgba($color-gray80, 0.5));
		padding: 0;
		width: 2em;
		font-weight: normal;

		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;

		img.search-img {
			width: 1em; height: 1em;
		}
	}
}