.search-form {
	position: relative;
	input, button {
		font-size: 1em;
	}
	input {
		padding: 0.5em 4.5em 0.5em 1em;
		border: 0;
		width: 10em;
		background-color: $color-gray90;
		transition: 0.3s ease-out background-color;

		&:active,
		&:focus {
			background-color: $color-gray99;
		}
	}
	button {
		border: none;
		@include btn-variant($color-gray90, rgba($color-green, 0.5), $color-white, rgba($color-gray40, 0.75));
		border-left: 1px solid $color-gray60;
		padding: 0;
		width: 4.5em;
		font-weight: normal;

		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
}