.container {
	@include fixed-container();
}

.container-fluid {
	@include container-padding();
}

// TODO: Consolidate this with layout

.flex-row {
	flex-direction: row;
}
.flex-column{
	flex-direction: column;
}
.flex-row, .flex-column {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	list-style: none;

	&.flex-left {
		justify-content: left;
	}
	&.flex-center{
		justify-content: center;
	}
	&.flex-right {
		justify-content: flex-end;
	}
	&.flex-middle {
		align-items: center;
	}
	&.flex-wrap {
		flex-wrap: wrap;
	}
	// @each $ss in $media-sizes {
	// 	@include media-size($ss) {
	// 		@each $fs in $flex-sizes {
	// 			@include col-size($fs, $ss);
	// 		}
	// 	}
	// }
}