.code-example {
    font-size: 0.75rem;
    h5 {
        margin-top: 1em;
        margin-bottom: 0.25em;
    }

    .code-source,
    .code-result {
        width: 100%;
        min-height: 75px;
    }

    .code-result {
        border: 1px solid $gray60;
    }

    &.large .code-result{
        min-height: 225px;
    }

}

.language-html {
    .code-result {
        width: 100%;
        padding: 0.5rem 0;
        border-top: 1px solid $gray60;
        border-bottom: 1px solid $gray60;
    }
}