{{#> _base headTitle="NDSU Web Template"}}
    {{#*inline "head-block"}}
    <link rel="stylesheet" type="text/css" href="/ndsu-web-template/assets/css/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="/ndsu-web-template/assets/css/markdown.css" />
    {{/inline}}
    {{#*inline "page-title"}}
        \{{ title | default: "NDSU Web Template" }}
    {{/inline}}
    {{#*inline "main-nav"}}
        {{#getJsonContext '{
        "additionalClasses": [
            "navbar-left",
            "navbar-mobilize",
            "navbar-dark"
        ],
        "links": [
            {
            "url": "/ndsu-web-template/",
            "home": true
            },
            {
            "url": "/ndsu-web-template/templates",
            "text": "Templates"
            },
            {
                "url": "#",
                "text": "Components",
                "childNavbar": {
                    "additionalClasses": [
                    "navbar-vertical"
                    ],
                    "links": [
                    {
                        "url": "/ndsu-web-template/components/bigquote",
                        "text": "Big Quote"
                    },
                    {
                        "url": "/ndsu-web-template/components/button",
                        "text": "Button"
                    },
                    {
                        "url": "/ndsu-web-template/components/footer",
                        "text": "Footer"
                    },
                    {
                        "url": "/ndsu-web-template/components/form",
                        "text": "Form"
                    },
                    {
                        "url": "/ndsu-web-template/components/gallery",
                        "text": "Gallery"
                    },
                    {
                        "url": "/ndsu-web-template/components/generic-content",
                        "text": "Generic Content"
                    },
                    {
                        "url": "/ndsu-web-template/components/hero-banner",
                        "text": "Hero Banner"
                    },
                    {
                        "url": "/ndsu-web-template/components/navbar",
                        "text": "Navbar"
                    },
                    {
                        "url": "/ndsu-web-template/components/news-events",
                        "text": "News and Events"
                    },
                    {
                        "url": "/ndsu-web-template/components/picture",
                        "text": "Picture"
                    },
                    {
                        "url": "/ndsu-web-template/components/sflgru",
                        "text": "SFLGRU"
                    },
                    {
                        "url": "/ndsu-web-template/components/social-media",
                        "text": "Social Media"
                    }
                    ]
                }
            },
            {
                "url": "/ndsu-web-template/sample-pages",
                "text": "Sample Pages"
            }
        ]
        }'}}
        {{> _navbar-main this }}
        {{/getJsonContext}}
    {{/inline}}
    {{#* inline "script-block" }}
    <script type="text/javascript" src="/ndsu-web-template/assets/js/script.js"></script>
    {{#> additional-script-block}}
    {{/additional-script-block}}
    {{/inline }}

    <div class="container markdown-body">
        {{> @partial-block}}
    </div>
{{/_base }}