<figure class="{{#if blockPicture}} img-block{{/if}}{{#each additionalClasses}} this{{/each}}" style="{{#if width}} width: {{width}}px;{{/if}}">
    {{> _picture this}}
    {{#ifcond primaryCaption '||' secondaryCaption}}
    <figcaption>
        {{#if ../primaryCaption}}
        <div class="caption-1">{{../primaryCaption}}</div>
        {{/if}}
        {{#if ../secondaryCaption}}
        <div class="caption-2">{{../secondaryCaption}}</div>
        {{/if}}
    </figcaption>
    {{/ifcond}}
</figure>

