.img-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: text-top; }
  .img-wrapper img {
    display: block;
    position: relative; }

.img-wrapper.full-size-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .img-wrapper.full-size-img img {
    top: 0;
    left: 0;
    width: auto; }
  .img-wrapper.full-size-img.left-align img {
    left: 0%; }
  .img-wrapper.full-size-img.center-align img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .img-wrapper.full-size-img.right-align img {
    left: auto;
    right: 0; }
  .img-wrapper.full-size-img.middle-align img {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .img-wrapper.full-size-img.middle-align.center-align img {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.img-wrapper.img-frame {
  border: 1px solid;
  padding: 0.25em; }
  .img-wrapper.img-frame::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0.25em solid #fff;
    z-index: 1; }

.img-wrapper.img-shadow {
  -webkit-box-shadow: 1px 1px 6px #000;
          box-shadow: 1px 1px 6px #000; }

figure.img-block {
  width: 100%;
  display: block;
  margin: 0; }
  figure.img-block .img-wrapper {
    display: block; }
  figure.img-block .full-size-img {
    width: 100%; }

figure figcaption {
  margin-top: 0.25em; }
  figure figcaption .caption-1 {
    text-transform: uppercase;
    font-weight: bold; }
  figure figcaption .caption-2 {
    font-family: Georgia, serif;
    line-height: 1em;
    margin-bottom: 0.25em; }
