$frame-width: 0.25em;

.img-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-top;

    img {
        display: block;
        position: relative;
    }
}

.img-wrapper.full-size-img {
    box-sizing: border-box;

    img {
        top: 0; left: 0;
        width: auto;
    }

    &.left-align img {
        left: 0%;
    }
    &.center-align img {
        left: 50%;
        transform: translateX(-50%);
    }
    &.right-align img {
        left: auto;
        right: 0;
    }
    &.middle-align img {
        top: 50%;
        transform: translateY(-50%);
    }

}

.img-wrapper.img-frame {
    border: 1px solid;
    padding: $frame-width;

    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: $frame-width solid $color-white;
        z-index: 1;
    }
}


.img-wrapper.img-shadow{
    box-shadow: 1px 1px 6px $color-black;
}

figure.img-block {
    width: 100%;
    display: block;
    margin: 0;
    .img-wrapper {
        display: block;
    }
    .full-size-img {
        width: 100%;
    }
}

figure figcaption {
    margin-top: 0.25em;
    .caption-1 {
        text-transform: uppercase;
        font-weight: bold;
    }
    .caption-2 {
        font-family: $serif;
        line-height: 1em;
        margin-bottom: 0.25em;
    }
}