$picture-padding: 0.25em;

.full-size-picture {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;

    img {
        display: block;
        position: absolute;
        top: 0; left: 0;
    }

    &.left-align img {
        left: 0%;
    }
    &.center-align img {
        left: 50%;
        transform: translateX(-50%);
    }
    &.right-align img {
        left: auto;
        right: 0;
    }
    &.middle-align img {
        top: 50%;
        transform: translateY(-50%);
    }
}

.picture-frame {
    position: relative;
    border: 1px solid;
    overflow: hidden;
    display: inline-block;

    .full-size-picture {
        width: 100%;
        margin: $picture-padding;
        display: block;
    }

    .force-ratio {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }
}

.picture-shadow{
    .full-size-picture {
        box-shadow: 1px 1px 6px $color-black;
    }
}

figure.picture-block {
    width: 100%;
    display: block;
    margin: 0;
    .full-size-picture {
        width: 100%;
    }

    &.picture-frame .full-size-picture {
        width: auto;
    }
}

figure figcaption {
    margin-top: 0.25em;
    .caption-1 {
        text-transform: uppercase;
        font-weight: bold;
    }
    .caption-2 {
        font-family: $serif;
        line-height: 1em;
        margin-bottom: 0.25em;
    }
}