.quick-links {
    @include content-padding();
    font-size: 2em;
    line-height: 1.75em;

    h5{ 
        color: $color-yellow;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    ul {
        list-style: none;
        margin:0;
        column-count: 3;
    }
    li {
        display: block;
    }
    li a{
        @include linkUnderline(2);
        @include linkColor($color-black, $color-green);
    }

    &.quick-links-yellow {
        background-color: $color-yellow;
        h5 {
            color: $color-green;
        }
    }
    
    @include media-sm {
        text-align: center;
        ul[class*='quick-links-'] {
            column-count: 1;
        }
    }

    @each $colCount in $text-columns {
        .quick-links-#{$colCount} {
            column-count: $colCount;
        }
    }
}