// Set base font size
:root {
	font-size: $font-size-rem-base;
}

// Standardize link color and underline style
a {
	@include linkColor();
	@include linkUnderline(2);
}

body {
	font-family: $sans-serif;
	font-size: 0.75rem;
	line-height: 1;
	min-height: 100vh;

	h1, h2, h3, h4, h5 {
		margin-top: 1.5em;
		margin-bottom: 1em;
		line-height: 1.25em;
		font-weight: 600;
	}
}

header {
	.green-bar{
		background-color:$color-green;
		background-image: url(https://static.ndsu.nodak.edu/templates/images/bg_header.jpg);
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: top left;

		.navbar .nav-link{
    		@include btn-variant($color-yellow, transparent, $color-white, transparent);
		}

		h1 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.main-nav {
		background-color: $default-secondary-bg-color;
	}

	@include media-xl {

		h2.page-title{
			font-size: 2.5em;
			font-weight: 100;
			padding-top: 0.75em;
			padding-bottom: 0.25em;
			margin-top:0;
			margin-bottom: 0;
		}
	}
	@include media-sm() {
		.page-title-wrapper {
			background-color: $color-gray7;
			color: $color-white;
			padding: 0;
			border-bottom: 1px solid $color-black;
		}
		h2.page-title {
			font-size: 1.25em;
			font-weight: bold;
			padding: 0.75em 1.25em;
		}
	}
}

footer {
	margin-top: 3rem;
	padding: 3em;
	display: flex;
	justify-content: space-between;

	font-size: 1.5em;
	line-height: 1.25em;
	address{
		font-style: normal;
		margin-top: 2em;
	}
	h5, h6 {
		text-transform: uppercase;
	}
	h5 {
		font-size: 1.125em;
		padding: 0 0.75em 0.5em 0.75em;
	}
	.footer-address {
		flex-grow: 1;
		text-align: center;
		align-self: center;
	}
	.footer-links {
		flex-basis: 275px;
	}

	.footer-links .navbar {
		.nav-link {
			padding: 0.5em 1em;
			font-weight: normal;
			text-transform: none;
		}
	}
	.navbar.social-media {
		.nav-link {
			height: 2em;
		}
		.nav-item + .nav-item {
			margin-left: 1em;
		}
	}

	.nav-box {
		margin-bottom: 2em;
	}


	.nav-box.clear-box {
		h5 {
			padding-left: 0;
		}
		.navbar .nav-link {
			padding-left: 0;
			@include linkUnderline(2);
		}
	}

	.nav-box.white-box {
		background-color: $color-white;
		padding: 2em 0.5em 1em 0.5em;
		.nav-item {
			border-top: 1px solid $color-black;
		}
		h5 {
			padding-left: 0.25em;
		}
		.navbar .nav-link {
			padding-left: 0.5em;
			@include linkColor($color-black, $color-black);
			@include linkUnderline(0);
		}
	}
	.nav-box .navbar-vertical.social-media {
		.social-media-icon {
			height: auto;
			margin: 0.25em 0;
			text-indent: 2em;
		}
		.nav-item + .nav-item {
			margin-left: 0;
		}
		.nav-link {
			@include linkUnderline(-1);
		}
	}

	&.footer-dark,
	&.footer-green {
		color: $color-white;
		h5, h6 {
			color: $color-yellow;
		}
		a {
			@include linkColor($color-white, $color-yellow);
		}
	}
	&.footer-dark {
		background-color: $color-gray1;
	}
	&.footer-green {
		background-color: $color-green;
		background: $gradient-green;
	}

	&.footer-yellow {
		background-color: $color-yellow;
	}

	@include media-sm {
		flex-direction: column;
		section {
			margin-bottom: 3em;
		}

		.footer-links{
			flex-basis: auto;
		}
	}
}