.layout {
	display: flex;
	justify-content: space-between;

    .nav-col {
		margin-top: 4em;
		margin-left: 2em;
        flex: 0 0 200px;
		.sub-nav-title {
			border-top: 1px solid $color-gray80;
			border-bottom: 1px solid $color-gray80;
			margin: 0;
			a {
				@include buttonify();
				@include btn-variant($color-white, $color-green, $color-white, $color-gray7);
				text-align: left;
				line-height: 1.5em;
				white-space: normal;
				padding: 0.5em 0 0.5em 1em;
			}
		}
		.navbar {
			z-index: 0;
		}
		.navbar .nav-link {
			padding: 1em;
			border: 1px solid $color-gray90;
			border-top: none;
			text-transform: none;
		}
		.navbar .nav-link{
			@include btn-variant($color-green, $color-clear, $color-gray13, $color-gray90);
		}
    }
    .main-col {
        flex: 1 1 auto;
    }

	@include media-xl {
		flex-direction: row;
	}
	@include media-sm {
		flex-direction: column;

		.nav-col {
			flex-basis: auto;
			margin-top: 2em;
		}
	}
}
.container .nav-col {
	margin-left: 0;
}