.layout {
	display: flex;
	justify-content: space-between;

    .nav-col {
		margin-top: 4em;
		margin-left: 2em;
        flex: 0 0 200px;
		.sub-nav-title {
			text-transform: uppercase;
			text-align: center;
			border: 1px solid $color-gray13;

			a {
				display: block;
				padding: 1em 0;
			}
		}
		.navbar {
			border-top: 1px solid $color-gray13;
		}
		.navbar .nav-link {
			padding: 1em;
			white-space: pre-wrap;
			border: 1px solid $color-gray13;
			border-top: none;
		}
		.sub-nav-title a,
		.navbar .nav-link{
			@include btn-variant($color-green, $transparent, $color-gray13, $color-yellow);
		}
    }
    .main-col {
        flex: 1 1 auto;
    }

	@include media-xl {
		flex-direction: row;
	}
	@include media-sm {
		flex-direction: column;

		.nav-col {
			flex-basis: auto;
			margin-top: 2em;
		}
	}
}