.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .layout .main-col + .main-col,
  .layout .main-col + .side-col, .layout .side-col + .main-col,
  .layout .side-col + .side-col, .layout .nav-col + .main-col,
  .layout .nav-col + .side-col {
    margin-left: 2em; }
  .layout .nav-col .sub-nav-title, .layout .side-col .sub-nav-title {
    border-top: 4px solid #002119;
    margin: 0; }
    .layout .nav-col .sub-nav-title a, .layout .nav-col .sub-nav-title div, .layout .side-col .sub-nav-title a, .layout .side-col .sub-nav-title div {
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
      -webkit-transition-property: background-color, color, padding, width, height;
      transition-property: background-color, color, padding, width, height;
      text-decoration: none;
      font-weight: 400;
      line-height: 1em;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      display: inline-block;
      padding: 1em;
      background-color: transparent;
      text-align: left;
      line-height: 1.25em;
      white-space: normal;
      padding: 0.5em 0 0.5em 1em;
      display: block; }
      .layout .nav-col .sub-nav-title a.active, .layout .nav-col .sub-nav-title div.active, .layout .side-col .sub-nav-title a.active, .layout .side-col .sub-nav-title div.active {
        cursor: auto; }
      .layout .nav-col .sub-nav-title a:hover, .layout .nav-col .sub-nav-title a:focus, .layout .nav-col .sub-nav-title a[aria-expanded=true], .layout .nav-col .sub-nav-title a.active, .layout .nav-col .sub-nav-title div:hover, .layout .nav-col .sub-nav-title div:focus, .layout .nav-col .sub-nav-title div[aria-expanded=true], .layout .nav-col .sub-nav-title div.active, .layout .side-col .sub-nav-title a:hover, .layout .side-col .sub-nav-title a:focus, .layout .side-col .sub-nav-title a[aria-expanded=true], .layout .side-col .sub-nav-title a.active, .layout .side-col .sub-nav-title div:hover, .layout .side-col .sub-nav-title div:focus, .layout .side-col .sub-nav-title div[aria-expanded=true], .layout .side-col .sub-nav-title div.active {
        background-color: #e5e5e5; }
      .layout .nav-col .sub-nav-title a.active-branch, .layout .nav-col .sub-nav-title div.active-branch, .layout .side-col .sub-nav-title a.active-branch, .layout .side-col .sub-nav-title div.active-branch {
        background-color: #f2f2f2; }
      .layout .nav-col .sub-nav-title a.active-branch:hover, .layout .nav-col .sub-nav-title a.active-branch:focus, .layout .nav-col .sub-nav-title a.active-branch[aria-expanded=true], .layout .nav-col .sub-nav-title a.active-branch.active, .layout .nav-col .sub-nav-title div.active-branch:hover, .layout .nav-col .sub-nav-title div.active-branch:focus, .layout .nav-col .sub-nav-title div.active-branch[aria-expanded=true], .layout .nav-col .sub-nav-title div.active-branch.active, .layout .side-col .sub-nav-title a.active-branch:hover, .layout .side-col .sub-nav-title a.active-branch:focus, .layout .side-col .sub-nav-title a.active-branch[aria-expanded=true], .layout .side-col .sub-nav-title a.active-branch.active, .layout .side-col .sub-nav-title div.active-branch:hover, .layout .side-col .sub-nav-title div.active-branch:focus, .layout .side-col .sub-nav-title div.active-branch[aria-expanded=true], .layout .side-col .sub-nav-title div.active-branch.active {
        background-color: #e5e5e5; }
      .layout .nav-col .sub-nav-title a, .layout .nav-col .sub-nav-title div, .layout .side-col .sub-nav-title a, .layout .side-col .sub-nav-title div {
        color: #002119; }
      .layout .nav-col .sub-nav-title a:hover, .layout .nav-col .sub-nav-title a:focus, .layout .nav-col .sub-nav-title a[aria-expanded=true], .layout .nav-col .sub-nav-title a.active, .layout .nav-col .sub-nav-title div:hover, .layout .nav-col .sub-nav-title div:focus, .layout .nav-col .sub-nav-title div[aria-expanded=true], .layout .nav-col .sub-nav-title div.active, .layout .side-col .sub-nav-title a:hover, .layout .side-col .sub-nav-title a:focus, .layout .side-col .sub-nav-title a[aria-expanded=true], .layout .side-col .sub-nav-title a.active, .layout .side-col .sub-nav-title div:hover, .layout .side-col .sub-nav-title div:focus, .layout .side-col .sub-nav-title div[aria-expanded=true], .layout .side-col .sub-nav-title div.active {
        color: #222222; }
      .layout .nav-col .sub-nav-title a.active-branch, .layout .nav-col .sub-nav-title div.active-branch, .layout .side-col .sub-nav-title a.active-branch, .layout .side-col .sub-nav-title div.active-branch {
        color: #002119; }
      .layout .nav-col .sub-nav-title a.active-branch:hover, .layout .nav-col .sub-nav-title a.active-branch:focus, .layout .nav-col .sub-nav-title a.active-branch[aria-expanded=true], .layout .nav-col .sub-nav-title a.active-branch.active, .layout .nav-col .sub-nav-title div.active-branch:hover, .layout .nav-col .sub-nav-title div.active-branch:focus, .layout .nav-col .sub-nav-title div.active-branch[aria-expanded=true], .layout .nav-col .sub-nav-title div.active-branch.active, .layout .side-col .sub-nav-title a.active-branch:hover, .layout .side-col .sub-nav-title a.active-branch:focus, .layout .side-col .sub-nav-title a.active-branch[aria-expanded=true], .layout .side-col .sub-nav-title a.active-branch.active, .layout .side-col .sub-nav-title div.active-branch:hover, .layout .side-col .sub-nav-title div.active-branch:focus, .layout .side-col .sub-nav-title div.active-branch[aria-expanded=true], .layout .side-col .sub-nav-title div.active-branch.active {
        color: #222222; }
  .layout .nav-col .navbar, .layout .side-col .navbar {
    z-index: 0;
    border-bottom: 1px solid #cccccc; }
  .layout .nav-col .navbar .child-navbar, .layout .side-col .navbar .child-navbar {
    border-bottom: none; }
  .layout .nav-col .navbar .nav-link, .layout .side-col .navbar .nav-link {
    padding: 1em;
    border-top: 1px solid #cccccc;
    text-transform: none; }
  .layout .nav-col .navbar .nav-link, .layout .side-col .navbar .nav-link {
    background-color: transparent; }
    .layout .nav-col .navbar .nav-link:hover, .layout .nav-col .navbar .nav-link:focus, .layout .nav-col .navbar .nav-link[aria-expanded=true], .layout .nav-col .navbar .nav-link.active, .layout .side-col .navbar .nav-link:hover, .layout .side-col .navbar .nav-link:focus, .layout .side-col .navbar .nav-link[aria-expanded=true], .layout .side-col .navbar .nav-link.active {
      background-color: #e5e5e5; }
    .layout .nav-col .navbar .nav-link.active-branch, .layout .side-col .navbar .nav-link.active-branch {
      background-color: #f2f2f2; }
    .layout .nav-col .navbar .nav-link.active-branch:hover, .layout .nav-col .navbar .nav-link.active-branch:focus, .layout .nav-col .navbar .nav-link.active-branch[aria-expanded=true], .layout .nav-col .navbar .nav-link.active-branch.active, .layout .side-col .navbar .nav-link.active-branch:hover, .layout .side-col .navbar .nav-link.active-branch:focus, .layout .side-col .navbar .nav-link.active-branch[aria-expanded=true], .layout .side-col .navbar .nav-link.active-branch.active {
      background-color: #e5e5e5; }
    .layout .nav-col .navbar .nav-link, .layout .side-col .navbar .nav-link {
      color: #002119; }
    .layout .nav-col .navbar .nav-link:hover, .layout .nav-col .navbar .nav-link:focus, .layout .nav-col .navbar .nav-link[aria-expanded=true], .layout .nav-col .navbar .nav-link.active, .layout .side-col .navbar .nav-link:hover, .layout .side-col .navbar .nav-link:focus, .layout .side-col .navbar .nav-link[aria-expanded=true], .layout .side-col .navbar .nav-link.active {
      color: #222222; }
    .layout .nav-col .navbar .nav-link.active-branch, .layout .side-col .navbar .nav-link.active-branch {
      color: #002119; }
    .layout .nav-col .navbar .nav-link.active-branch:hover, .layout .nav-col .navbar .nav-link.active-branch:focus, .layout .nav-col .navbar .nav-link.active-branch[aria-expanded=true], .layout .nav-col .navbar .nav-link.active-branch.active, .layout .side-col .navbar .nav-link.active-branch:hover, .layout .side-col .navbar .nav-link.active-branch:focus, .layout .side-col .navbar .nav-link.active-branch[aria-expanded=true], .layout .side-col .navbar .nav-link.active-branch.active {
      color: #222222; }
  .layout .nav-col {
    margin-left: 2em;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px; }
  .layout .main-col {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  @media (max-width: 767px) {
    .layout {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .layout .nav-col {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-top: 2em;
        margin-right: 2em; }
      .layout .main-col + .main-col,
      .layout .main-col + .side-col, .layout .side-col + .main-col,
      .layout .side-col + .side-col, .layout .nav-col + .main-col,
      .layout .nav-col + .side-col {
        margin-left: 0;
        margin-top: 2em; } }

.container .nav-col {
  margin-left: 0;
  margin-right: 0; }

.layout .container {
  padding: 0; }
