$jumbotron-padding: 0em;

.hero-banner {
  @include content-padding();
  margin-bottom: $jumbotron-padding;
  background-color: $color-yellow;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  box-sizing: border-box;
  position: relative;

  &.hero-banner-middle {
    background-position-y: 50%;
  }

  &.dim-black::before,
  &.dim-green::before,
  &.dim-yellow::before{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    content: "";
  }
  
  &.dim-black::before {
    background-color: rgba($color-black, 0.5);
  }
  &.dim-green::before {
    background-color: rgba($color-green, 0.5);
  }
  &.dim-yellow::before {
    background-color: rgba($color-yellow, 0.25);
  }

  section {
    color: $color-white;
    .btn, h2, h3, h4, p {
      float: left;
      clear: both;
    }
    h2, h3, h4, p  {
      box-sizing: border-box;
      border-radius: 0.125em;
      line-height: 1.5em;
      margin-top: 0;
      margin-bottom: 0.5em;
      background-color: rgba($color-black, 0.75);
      padding: 16px 24px;
    }
  }

  &.dim-black,
  &.dim-green {
    section {
      h2, p {
        background-color: rgba($color-black, 0.6);
      }
    }
  }

  @include media-xl() {
    min-height: 28em;

    &.hero-banner-large {
      min-height: 38em;
    }

    section {
      left: 3em;
      top: 2em;
      bottom: auto;
      position: absolute;
      h2, h3, h4, p {
        width: 450px;
      }
      &:after {
          content: '';
          display: block;
          clear: both;
      }
    }
    section.bottom {
      top: auto;
      bottom: 2em;
    }
    section.wide {
      h2, h3, h4, p {
        width: 800px;
      }
    }
  }
  @include media-lg() {
    min-height: 24em;

    &.hero-banner-large {
      min-height: 35em;
    }
  }
  @include media-md() {
    min-height: 22em;
    
    &.hero-banner-large {
      min-height: 32em;
    }

    section.wide {
      h2, h3, h4, p {
        max-width: 600px;
      }
    }
  }
  @include media-sm() {
    min-height: 19em;
    
    &.hero-banner-large {
      min-height: 28em;
    }

    section,
    section.wide,
    section.bottom {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      padding: 1em;
      h2, h3, h4, p {
        width: auto;
        max-width: 450px;
      }
    }
  }
  @include media-xs() {
    min-height: 16em;
    
    &.hero-banner-large {
      min-height: 24em;
    }
  }
    section {
      padding: 0.5em;
    }
}

.hero-banner-fluid {
  padding-right: 0;
  padding-left: 0;
}