.three-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em; }
  .three-boxes section {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #cccccc;
    border-radius: 0.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .three-boxes section h5 {
      margin-bottom: 0.25em; }
    .three-boxes section .subtitle {
      font-style: italic;
      margin-bottom: 0.25em; }
    .three-boxes section .content {
      margin-top: 1em;
      margin-bottom: 1.5em; }
    .three-boxes section a.btn {
      margin-top: auto;
      background-color: #222222; }
      .three-boxes section a.btn:hover, .three-boxes section a.btn:focus, .three-boxes section a.btn[aria-expanded=true], .three-boxes section a.btn.active {
        background-color: #050505; }
      .three-boxes section a.btn.active-branch {
        background-color: ""; }
      .three-boxes section a.btn.active-branch:hover, .three-boxes section a.btn.active-branch:focus, .three-boxes section a.btn.active-branch[aria-expanded=true], .three-boxes section a.btn.active-branch.active {
        background-color: #050505; }
      .three-boxes section a.btn {
        color: #fff; }
      .three-boxes section a.btn:hover, .three-boxes section a.btn:focus, .three-boxes section a.btn[aria-expanded=true], .three-boxes section a.btn.active {
        color: #ffcc00; }
      .three-boxes section a.btn.active-branch {
        color: ""; }
      .three-boxes section a.btn.active-branch:hover, .three-boxes section a.btn.active-branch:focus, .three-boxes section a.btn.active-branch[aria-expanded=true], .three-boxes section a.btn.active-branch.active {
        color: #ffcc00; }
    .three-boxes section.gray {
      background-color: #f2f2f2; }
    .three-boxes section.green {
      background-color: #002119;
      color: #f2f2f2; }
      .three-boxes section.green h5 {
        color: #f2f2f2; }
      .three-boxes section.green a.btn {
        background-color: transparent; }
        .three-boxes section.green a.btn:hover, .three-boxes section.green a.btn:focus, .three-boxes section.green a.btn[aria-expanded=true], .three-boxes section.green a.btn.active {
          background-color: rgba(255, 255, 255, 0.1); }
        .three-boxes section.green a.btn.active-branch {
          background-color: ""; }
        .three-boxes section.green a.btn.active-branch:hover, .three-boxes section.green a.btn.active-branch:focus, .three-boxes section.green a.btn.active-branch[aria-expanded=true], .three-boxes section.green a.btn.active-branch.active {
          background-color: rgba(255, 255, 255, 0.1); }
        .three-boxes section.green a.btn {
          color: #ffcc00; }
        .three-boxes section.green a.btn:hover, .three-boxes section.green a.btn:focus, .three-boxes section.green a.btn[aria-expanded=true], .three-boxes section.green a.btn.active {
          color: #fff; }
        .three-boxes section.green a.btn.active-branch {
          color: ""; }
        .three-boxes section.green a.btn.active-branch:hover, .three-boxes section.green a.btn.active-branch:focus, .three-boxes section.green a.btn.active-branch[aria-expanded=true], .three-boxes section.green a.btn.active-branch.active {
          color: #fff; }
  @media (max-width: 767px) {
    .three-boxes {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .three-boxes section {
        display: block; } }
