{{#if link.home}}
<li class="nav-item{{#if link.hideMobile}} nav-item-mobile-hide{{/if}} nav-item-home"><a class="nav-link" href="{{link.url}}"{{#if newWindow}} target="_blank"{{/if}}/><span class="sr-only">{{#ifnull link.text 'Home'}}{{/ifnull}} </span>&#8962;</a></li>
{{else}}
<li class="nav-item{{#if link.hideMobile}} nav-item-mobile-hide{{/if}}{{#if link.extendedChildSection }} extended-child-section{{/if}}">
    {{#if link.url }}
    <a class="nav-link" href="{{ link.url }}"{{#if newWindow}} target="_blank"{{/if}}>
        {{#if link.extendedChildSection}}
        <h5>{{link.text}}</h5>
        {{else}}
        {{link.text}}
        {{/if}}
    </a>
    {{else}}
    <h5 class="child-section-title">{{link.text}}</h5>
    {{/if}}
    {{#if link.childNavbar}}
    {{> _navbar-main link.childNavbar childNavbar=true}}
    {{/if}}
</li>
{{/if}}
