
        <section class="container mt-5">
            <h3>Basic</h3>
            <div class="code-example">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>
        <section class="container mt-5">
            <h3>Alignments</h3>
            <div class="code-example">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar navbar-justify">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
<div role="navigation">
    <ul class="navbar navbar-left">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>
        <section class="container mt-5">
            <h3>Color</h3>
            <div class="code-example">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar navbar-dark">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>
        <section class="container mt-5">
            <h3>Direction</h3>
            <div class="code-example">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar navbar-vertical">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
<div role="navigation">
    <ul class="navbar navbar-vertical navbar-center navbar-dark">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>

        <section class="container mt-5">
            <h3>Dropdown/Nested</h3>
            <div class="code-example large">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar navbar-dark">
        <li class="nav-item">
            <a class="nav-link" href="link1/">Link 1</a>
            <ul class="navbar navbar-vertical child-navbar">
                <li class="nav-item">
                    <a class="nav-link" href="link1/">Sub-Menu 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="link1/">Sub-Menu 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="link1/">Sub-Menu 3</a>
                </li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>

            <div class="code-example large">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <ul class="navbar navbar-dark">
        <li class="nav-item">
            <a class="nav-link" href="link1/">Link 1</a>
            <ul class="navbar child-navbar extended-child-navbar">
                <li class="nav-item extended-child-section">
                    <h5 class="child-section-title">Section 1</h5>
                    <ul class="navbar child-navbar navbar-vertical">
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 3</a></li>
                    </ul>
                </li>
                <li class="nav-item extended-child-section">
                    <h5 class="child-section-title">Section 2</h5>
                    <ul class="navbar child-navbar navbar-vertical">
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 3</a></li>
                    </ul>
                </li>
                <li class="nav-item extended-child-section">
                    <h5 class="child-section-title">Section 3</h5>
                    <ul class="navbar child-navbar navbar-vertical">
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 1</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="link2/">Sub-Link 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="link2/">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 4</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>
        <section class="container mt-5">
            <h3>Mobile Navigation</h3>
            <div class="code-example">
                <textarea class="code-source" readonly="readonly">
<div role="navigation">
    <!--This navbar will be included in mobile navigation-->
    <ul class="navbar navbar-mobilize">
        <li class="nav-item"><a class="nav-link" href="link1/">Link 1</a></li>
        <!--This nav-item will be excluded from mobile navigation-->
        <li class="nav-item nav-item-mobile-hide">
            <a class="nav-link" href="link2/">Link 2</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="link3/">Link 3</a></li>
    </ul>
</div>
                </textarea>
            </div>
        </section>