.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem; }
  .navbar .nav-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    white-space: nowrap;
    position: relative; }
  .navbar .nav-link {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color, padding, width, height;
    transition-property: background-color, color, padding, width, height;
    text-decoration: none;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    display: block;
    padding: 1em; }
    .navbar .nav-link {
      text-decoration: none; }
    .navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link[aria-expanded=true], .navbar .nav-link.active {
      text-decoration: none; }
    .navbar .nav-link.active {
      cursor: auto; }
  .navbar.navbar-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar.navbar-horizontal .nav-link {
      text-align: center; }
  .navbar.navbar-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .navbar.navbar-vertical .nav-link {
      text-align: left; }
  .navbar.navbar-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .navbar.navbar-center .nav-item {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
    .navbar.navbar-center .nav-link {
      text-align: center; }
  .navbar.navbar-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #ffcc00; }
    .navbar.navbar-left .nav-link {
      text-align: left; }
  .navbar.navbar-justify {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .navbar.navbar-justify .nav-item {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .navbar.navbar-justify .nav-link {
      text-align: center; }
  .navbar.navbar-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .navbar.navbar-right .nav-link {
      text-align: right; }
  .navbar .nav-item.nav-item-haschild:not(.extended-child-section) > .nav-link::after {
    content: "\00a0\00a0\25BC"; }
  .navbar .nav-item.nav-item-haschild:not(.extended-child-section).nav-item-haschild-down > .nav-link::after {
    content: "\00a0\00a0\25B2"; }
  .navbar .child-navbar {
    z-index: 1000;
    position: absolute;
    left: 0;
    display: none;
    -webkit-box-shadow: inset 0 1px 2px #000;
            box-shadow: inset 0 1px 2px #000; }
  .navbar.expanded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar .extended-child-navbar {
    padding: 0.75em 0 1.5em;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .navbar .extended-child-navbar .child-section-title {
      padding: 0.75em 1.25em;
      margin: 0; }
    .navbar .extended-child-navbar .child-navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
  .navbar .extended-child-section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative; }
    .navbar .extended-child-section > a.nav-link {
      background-color: rgba(0, 0, 0, 0);
      text-align: center; }
      .navbar .extended-child-section > a.nav-link:hover, .navbar .extended-child-section > a.nav-link:focus, .navbar .extended-child-section > a.nav-link[aria-expanded=true], .navbar .extended-child-section > a.nav-link.active {
        background-color: rgba(0, 0, 0, 0); }
      .navbar .extended-child-section > a.nav-link.active-branch {
        background-color: ""; }
      .navbar .extended-child-section > a.nav-link.active-branch:hover, .navbar .extended-child-section > a.nav-link.active-branch:focus, .navbar .extended-child-section > a.nav-link.active-branch[aria-expanded=true], .navbar .extended-child-section > a.nav-link.active-branch.active {
        background-color: rgba(0, 0, 0, 0); }
      .navbar .extended-child-section > a.nav-link {
        color: #ffcc00; }
      .navbar .extended-child-section > a.nav-link:hover, .navbar .extended-child-section > a.nav-link:focus, .navbar .extended-child-section > a.nav-link[aria-expanded=true], .navbar .extended-child-section > a.nav-link.active {
        color: #ffcc00; }
      .navbar .extended-child-section > a.nav-link.active-branch {
        color: ""; }
      .navbar .extended-child-section > a.nav-link.active-branch:hover, .navbar .extended-child-section > a.nav-link.active-branch:focus, .navbar .extended-child-section > a.nav-link.active-branch[aria-expanded=true], .navbar .extended-child-section > a.nav-link.active-branch.active {
        color: #ffcc00; }
      .navbar .extended-child-section > a.nav-link {
        text-decoration: none; }
      .navbar .extended-child-section > a.nav-link:hover, .navbar .extended-child-section > a.nav-link:focus, .navbar .extended-child-section > a.nav-link[aria-expanded=true], .navbar .extended-child-section > a.nav-link.active {
        text-decoration: underline; }
      .navbar .extended-child-section > a.nav-link h5 {
        display: inline; }
  .navbar.accordion .child-navbar {
    display: none;
    position: relative;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    margin-left: 1em; }
  .navbar.accordion .child-navbar.expanded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar.accordion .nav-item.nav-item-haschild > .nav-link::after {
    content: ""; }
  .navbar.accordion .nav-item .nav-expand-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em; }
    .navbar.accordion .nav-item .nav-expand-link {
      color: #002119; }
    .navbar.accordion .nav-item .nav-expand-link:hover, .navbar.accordion .nav-item .nav-expand-link:focus, .navbar.accordion .nav-item .nav-expand-link[aria-expanded=true], .navbar.accordion .nav-item .nav-expand-link.active {
      color: #ababab; }
    .navbar.accordion .nav-item .nav-expand-link.active-branch {
      color: ""; }
    .navbar.accordion .nav-item .nav-expand-link.active-branch:hover, .navbar.accordion .nav-item .nav-expand-link.active-branch:focus, .navbar.accordion .nav-item .nav-expand-link.active-branch[aria-expanded=true], .navbar.accordion .nav-item .nav-expand-link.active-branch.active {
      color: #ababab; }
    .navbar.accordion .nav-item .nav-expand-link {
      text-decoration: none; }
    .navbar.accordion .nav-item .nav-expand-link:hover, .navbar.accordion .nav-item .nav-expand-link:focus, .navbar.accordion .nav-item .nav-expand-link[aria-expanded=true], .navbar.accordion .nav-item .nav-expand-link.active {
      text-decoration: none; }

.navbar-toggle {
  font-weight: bold; }
  .navbar-toggle:before {
    content: "\2630"; }

.navbar-mobile-container {
  position: relative;
  z-index: 2000; }

.navbar.navbar-mobile {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-box-shadow: 1px 1px 2px #000;
          box-shadow: 1px 1px 2px #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none; }
  .navbar.navbar-mobile .extended-child-navbar {
    padding: 0; }
  .navbar.navbar-mobile .child-section-title {
    display: none; }
  .navbar.navbar-mobile .child-navbar {
    text-indent: 1em;
    position: relative;
    display: none;
    visibility: visible; }
  .navbar.navbar-mobile .child-navbar .child-navbar {
    text-indent: 2em; }
  .navbar.navbar-mobile .child-navbar.expanded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar.navbar-mobile .extended-child-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navbar.navbar-mobile .nav-item.nav-item-haschild > .nav-link::after,
  .navbar.navbar-mobile .nav-item.nav-item-haschild.nav-item-haschild-up > .nav-link.expanded::after {
    content: "\00a0\00a0\25BC"; }
  .navbar.navbar-mobile .nav-item.nav-item-haschild > .nav-link.expanded::after,
  .navbar.navbar-mobile .nav-item.nav-item-haschild.nav-item-haschild-down > .nav-link::after {
    content: "\00a0\00a0\25B2"; }
  .navbar.navbar-mobile .nav-item.nav-item-haschild:not(.extended-child-section) > .nav-link::after {
    position: absolute;
    right: 1em; }
  .navbar.navbar-mobile .extended-child-section > a.nav-link {
    text-align: left; }
    .navbar.navbar-mobile .extended-child-section > a.nav-link {
      text-decoration: none; }
    .navbar.navbar-mobile .extended-child-section > a.nav-link:hover, .navbar.navbar-mobile .extended-child-section > a.nav-link:focus, .navbar.navbar-mobile .extended-child-section > a.nav-link[aria-expanded=true], .navbar.navbar-mobile .extended-child-section > a.nav-link.active {
      text-decoration: none; }

.navbar-dark,
.navbar-dark .navbar {
  background-color: #222222; }

.navbar-dark .nav-link {
  background-color: #222222; }
  .navbar-dark .nav-link:hover, .navbar-dark .nav-link:focus, .navbar-dark .nav-link[aria-expanded=true], .navbar-dark .nav-link.active {
    background-color: #000; }
  .navbar-dark .nav-link.active-branch {
    background-color: #121212; }
  .navbar-dark .nav-link.active-branch:hover, .navbar-dark .nav-link.active-branch:focus, .navbar-dark .nav-link.active-branch[aria-expanded=true], .navbar-dark .nav-link.active-branch.active {
    background-color: #000; }
  .navbar-dark .nav-link {
    color: #fff; }
  .navbar-dark .nav-link:hover, .navbar-dark .nav-link:focus, .navbar-dark .nav-link[aria-expanded=true], .navbar-dark .nav-link.active {
    color: #ffcc00; }
  .navbar-dark .nav-link.active-branch {
    color: #d9d9d9; }
  .navbar-dark .nav-link.active-branch:hover, .navbar-dark .nav-link.active-branch:focus, .navbar-dark .nav-link.active-branch[aria-expanded=true], .navbar-dark .nav-link.active-branch.active {
    color: #ffcc00; }

.navbar-dark .child-navbar {
  background-color: #121212; }

.navbar-dark .child-navbar .nav-link {
  background-color: #121212; }
  .navbar-dark .child-navbar .nav-link:hover, .navbar-dark .child-navbar .nav-link:focus, .navbar-dark .child-navbar .nav-link[aria-expanded=true], .navbar-dark .child-navbar .nav-link.active {
    background-color: #000; }
  .navbar-dark .child-navbar .nav-link.active-branch {
    background-color: #121212; }
  .navbar-dark .child-navbar .nav-link.active-branch:hover, .navbar-dark .child-navbar .nav-link.active-branch:focus, .navbar-dark .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark .child-navbar .nav-link.active-branch.active {
    background-color: #000; }
  .navbar-dark .child-navbar .nav-link {
    color: #fff; }
  .navbar-dark .child-navbar .nav-link:hover, .navbar-dark .child-navbar .nav-link:focus, .navbar-dark .child-navbar .nav-link[aria-expanded=true], .navbar-dark .child-navbar .nav-link.active {
    color: #ffcc00; }
  .navbar-dark .child-navbar .nav-link.active-branch {
    color: #d9d9d9; }
  .navbar-dark .child-navbar .nav-link.active-branch:hover, .navbar-dark .child-navbar .nav-link.active-branch:focus, .navbar-dark .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark .child-navbar .nav-link.active-branch.active {
    color: #ffcc00; }

.navbar-dark .extended-child-navbar .child-section-title {
  color: #ffcc00; }

.navbar-dark .extended-child-navbar .extended-child-section + .extended-child-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: #666666;
  z-index: 2000; }

.navbar-dark.navbar-mobile .nav-item + .nav-item {
  border-top: 1px solid #333333; }

.navbar-dark.navbar-mobile .child-navbar .nav-link {
  background-color: #f2f2f2; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link:hover, .navbar-dark.navbar-mobile .child-navbar .nav-link:focus, .navbar-dark.navbar-mobile .child-navbar .nav-link[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .nav-link.active {
    background-color: #333333; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch {
    background-color: #121212; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch:hover, .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch:focus, .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch.active {
    background-color: #333333; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link {
    color: #222222; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link:hover, .navbar-dark.navbar-mobile .child-navbar .nav-link:focus, .navbar-dark.navbar-mobile .child-navbar .nav-link[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .nav-link.active {
    color: #ffcc00; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch {
    color: #d9d9d9; }
  .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch:hover, .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch:focus, .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .nav-link.active-branch.active {
    color: #ffcc00; }

.navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link {
  background-color: #fcfcfc; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link:hover, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link:focus, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active {
    background-color: #333333; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch {
    background-color: #121212; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch:hover, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch:focus, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch.active {
    background-color: #333333; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link {
    color: #222222; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link:hover, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link:focus, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active {
    color: #ffcc00; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch {
    color: #d9d9d9; }
  .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch:hover, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch:focus, .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch[aria-expanded=true], .navbar-dark.navbar-mobile .child-navbar .child-navbar .nav-link.active-branch.active {
    color: #ffcc00; }

.navbar-dark.navbar-mobile .nav-link.expanded {
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000; }

ul.navbar {
  padding: 0 !important; }

.navbar .nav-link {
  padding: 1.5em; }

.navbar-mobile,
.navbar-mobile.expanded,
.navbar-toggle {
  display: none; }

.navbar-mobile {
  overflow-x: hidden; }

@media (max-width: 1199px) {
  .navbar .nav-link {
    padding: 1.25em; } }

@media (max-width: 767px) {
  .navbar-mobilize {
    display: none; }
  .navbar-toggle {
    display: block; }
  .navbar-mobile,
  .navbar-mobile.expanded {
    display: block; } }

@media (max-width: 767px) {
  .navbar .nav-link {
    padding: 1.125em; }
  .navbar-mobile {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
