<section class="gallery{{#if size}} gallery-{{size}}{{/if}}{{#if align}} gallery-{{align}}{{/if}}">
    <h5>{{title}}</h5>
    <ul class="gallery-collection" role="group">
        {{# each items}}
        <li class="gallery-item" style="">
            {{> _picture-with-frame src=src alt=alt fullSize=true height=(ifnull height ../rowHeight) style=(ifnull style ../style) primaryCaption=primaryCaption secondaryCaption=secondaryCaption blockPicture=true}}
        </li>
        {{/each}}
    </ul>
</section>
