@mixin gallery-item-force-break() {
    display: flex;
    &::after{
        margin-right: auto;
        content: "";
        flex: 0 1 auto;
        width: 100vw;
        overflow: hidden;
    }
}

.gallery {
    @include fixed-container();
    @include content-padding();
    line-height: 1.25em;

    h5 {
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    .gallery-collection{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: wrap;
        align-items: stretch;
    }
    .gallery-item  {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        flex-grow: 0;
        flex-shrink: 1;
        box-sizing: border-box;
        padding: 0 0.25em;
        overflow: hidden;
    }

    .gallery-item .img-block {
        height: 100%;
        max-width: 100%;
    }

    .gallery-item .img-wrapper {
        height: inherit;
    }

    .gallery-item .img-wrapper {
        cursor: pointer;
    }

    @include media-xl(){
        &.gallery-1 .gallery-item{
            flex-basis: 100%;
        }
        & .gallery-item,
        &.gallery-2 .gallery-item{
            flex-basis: 50%;
        }

        &.gallery-3 .gallery-item{
            flex-basis: 33%;
        }
    
        &.gallery-4 .gallery-item{
            flex-basis: 25%;
        }
    
        &.gallery-5 .gallery-item{
            flex-basis: 20%;
        }

        &.gallery-center {
            h5 {
                text-align: center;
            }
            .gallery-collection {
                justify-content: center;
            }

            .gallery-collection,
            .img-block {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &.gallery-left {
            h5 {
                text-align: left;
            }
            .gallery-collection {
                justify-content: flex-start;
            }
            
            .gallery-collection,
            .img-block {
                margin-right: auto;
            }
        }

        &.gallery-right {
            h5 {
                text-align: right;
            }
            .gallery-collection {
                justify-content: flex-end;
            }

            .gallery-collection,
            .img-block {
                margin-left: auto;
            }
        }
    }

    @include media-md(){
        &.gallery-5 .gallery-item {
            flex-basis: 25%;
        }
    }
    @include media-sm(){
        &.gallery-4 .gallery-item,
        &.gallery-5 .gallery-item{
            flex-basis: 33%;
        }
    }
    @include media-xs(){
        &,
        &.gallery-2 .gallery-item {
            flex-basis: 100%;
        }

        &.gallery-3,
        &.gallery-4,
        &.gallery-5 {
            .gallery-item {
                flex-basis: 50%;
            }
        }
    }
}

.layout .main-col .gallery {
    @include content-padding(1/2);
}

.container .gallery,
.layout .container .gallery {
    padding: 0;
}

.full-overlay .gallery-full-size {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0; left: 0;
        margin: 0 auto;
        max-width: 100vw;
        max-height: 100vh;
    }

    &.active {
        opacity: 1;
    }

    a.close-button{
        @include buttonify();
        @include btn-variant($color-white, $color-clear, $color-yellow, $color-clear);

        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
    }
    a.close-button::before{
        content: "\2716";
    }

    @include media-xl {
        top: 5em; right: 5em; bottom: 5em; left: 5em;
        a.close-button {
            font-size: 1.5em;
        }
    }
    @include media-sm {
        top: 1em; right: 1em; bottom: 1em; left: 1em;
        a.close-button {
            top: 4.5em;
        }
    }
}