.gallery {
    @include fixed-container();
    @include content-padding();
    line-height: 1.25em;

    h5 {
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    .gallery-collection{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: wrap;
    }
    .gallery-item  {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        margin-left: auto;
        margin-right: auto;
        flex-grow: 0;
        flex-shrink: 1;
        box-sizing: border-box;
    }

    &,
    &.gallery-1 {
        .gallery-item {
            padding: 0.5em 1em;
        }
    }

    &.gallery-2,
    &.gallery-3,
    &.gallery-4,
    &.gallery-5 {
        .gallery-item {
            padding: 0.125em 0.25em;
        }
    }

    .gallery-item .full-size-picture {
        z-index: 1;
        padding-bottom: 66%;
        cursor: pointer;
    }

    @include media-xl(){
        &,
        &.gallery-1 {
            .gallery-item  {
                flex-basis: 100%;
            }
        }
        &.gallery-2,
        &.gallery-3,
        &.gallery-4,
        &.gallery-5 {
            .gallery-item {
                margin-left: 0;
                margin-right: 0;
            }
            .gallery-item:last-child {
                margin-right: auto;
            }
        }

        &.gallery-2 {
            .gallery-item:nth-child(n)  {
                max-width: 50%;
            }
            .gallery-item:nth-child(2n+1)  {
                margin-left: auto;
                flex-basis: 100%;
            }
            .gallery-item:nth-child(2n)  {
                margin-right: auto;
                flex-basis: 100%;
            }
        }
        &.gallery-3 {
            .gallery-item {
                max-width: 33%;
            }
            .gallery-item:nth-child(3n+1) {
                margin-left: auto;
                flex-basis: 100%;
            }
            .gallery-item:nth-child(3n) {
                margin-right: auto;
                flex-basis: 100%;
            }
        }
        &.gallery-4 {
            .gallery-item {
                max-width: 25%;
            }
            .gallery-item:nth-child(4n+1)  {
                margin-left: auto;
                flex-basis: 100%;
            }
            .gallery-item:nth-child(4n)  {
                margin-right: auto;
                flex-basis: 100%;
            }
        }
        &.gallery-5 {
            .gallery-item {
                max-width: 20%;
            }
            .gallery-item:nth-child(5n+1)  {
                margin-left: auto;
                flex-basis: 100%;
            }
            .gallery-item:nth-child(5n)  {
                margin-right: auto;
                flex-basis: 100%;
            }
        }
    }
    @include media-md(){
        &.gallery-2,
        &.gallery-3 {
            .gallery-item {
                max-width: 50%;
            }
        }
        
        &.gallery-4,
        &.gallery-5 {
            .gallery-item {
                max-width: 25%;
            }
        }
    }
    @include media-sm(){
        &.gallery-4,
        &.gallery-5 {
            .gallery-item {
                max-width: 33%;
            }
        }
    }
    @include media-xs(){
        &,
        &.gallery-1,
        &.gallery-2,
        &.gallery-3 {
            .gallery-item {
                max-width: 100%;
            }
        }
        &.gallery-4,
        &.gallery-5 {
            .gallery-item {
                max-width: 50%;
            }
        }
    }
}

.layout .main-col .gallery {
    @include content-padding(1/2);
}

.full-overlay .gallery-full-size {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0; left: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    &.active {
        opacity: 1;
    }

    a.close-button{
        @include buttonify();
        @include btn-variant($color-white, $color-clear, $color-yellow, $color-clear);

        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
    }
    a.close-button::before{
        content: "\2716";
    }

    @include media-xl {
        top: 5em; right: 5em; bottom: 5em; left: 5em;
        a.close-button {
            font-size: 1.5em;
        }
    }
    @include media-sm {
        top: 1em; right: 1em; bottom: 1em; left: 1em;
        a.close-button {
            top: 4.5em;
        }
    }
}