.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50%;
	box-sizing: border-box;
	margin-top: 3em;
	margin-bottom: 3em;

	ul {
		list-style: none;
		margin:0;
		padding: 0;
	}
	
	.slides-container{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding:0;
		margin: 0;
		overflow: hidden;
	}
	
	.slide {
		position: relative;
		top: 0;
		bottom: 0;
		visibility: hidden;
		background-size: cover;
		background-repeat: no-repeat;
	}


	&.active .slide {
		display: block !important;
		visibility: hidden;
		transition: all .6s ease-in-out;
		position:absolute;
		z-index:10;
	}

	&.active .slide.current {
		visibility: visible;
		left:0;
		right:0;
		display:block;
		z-index: 20;
	}

	&.active .slide.next {
		left: 100%;
		right:-100%;
	}

	&.active .slide.prev {
		left: -100%;
		right: 100%;
	}

	&.active .slide.next.in-transition,
	&.active .slide.prev.in-transition {
		visibility:visible;
	}


	.slide .full-size{
		display: block;
		&::after{
			content: " ";
			position: absolute;
			right:0;top:0;left:0;bottom: 0;
			transition: opacity 0.3s;
			background-color:$white;
			opacity: 0;
		}

		img {
			width: 0;
		}
	}
	.slide .full-size:focus{
		&::after{
			opacity: 0.1;
		}
	}

	.slide.current .full-size img,
	.slide.in-transition .full-size img{
		width: 100%;
	}

	.btn-prev,
	.btn-next,
	.slidenav button{
		cursor: pointer;
	}

	.btn-prev,
	.btn-next {
		position:absolute;
		z-index: 30;
		top: 50%;
		margin-top: -2.5em;
		border:0;
		background: rgba($white,0.6);
		font-size: 2em;
		padding: 5px;
		transition: padding .4s ease-out;
	}

	.btn-prev{
		left: 0;
	}

	.btn-next{
		right: 0;
	}

	.btn-next:hover,
	.btn-next:focus,
	.btn-prev:hover,
	.btn-prev:focus {
		padding-left: 15px;
		padding-right:15px;
	}

	.slidenav {
		position: absolute;
		bottom:.25em;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 30;
	}

	.slidenav li {
		display:inline-block;
		margin: 0 0.5em;
	}

	.slidenav button {
		width:auto;
		font-weight: bold;
		font-size: 1em;
		height: 1.5em;
		color: $black;
		background-color: rgba($white, 0.5);
		border: none;
		padding: 0 0.5em;
		transition: background .3s ease-out;
	}

	.slidenav button.current {
		background-color: rgba($yellow, 0.5);
		color: $white;
	}
	.slidenav button:hover,
	.slidenav button:focus{
		background-color: rgba($white, 0.9);
	}
}

