$jumbotron-padding: 0rem;

.jumbotron {
  @include content-padding();
  margin-bottom: $jumbotron-padding;
  background-color: $color-yellow;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  box-sizing: border-box;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
}

.dept-intro {
    min-height: 350px;
}