<footer class="footer-green">
    <section class="footer-address">
        <img src="/ndsu-web-template/images/NDSU.twolines.gif" alt="North Dakota State University" />
        <address>
            <h6>University Relations</h6>
            North Dakota State University<br> Old Main 204<br> Dept 6000 PO Box 6050<br> Fargo, ND 58108-6050<br>
            <br>
            <a href="tel:17012311068"><span class="sr-only">Phone: </span>+1 (701) 231-1068</a><br>
            <a href="fax:17012311989">Fax: +1 (701) 231-1068</a>
        </address>
    </section>
</footer>