@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/links';

footer {
	margin-top: 3rem;
	padding: 3em;
	display: flex;
	justify-content: space-between;
	background-color: $color-gray1;

	line-height: 1.25em;
	.address {
		font-style: normal;
		margin-top: 2em;
	}
	h5, h6 {
		text-transform: uppercase;
		margin: 1em auto;
	}
	h5 {
		font-size: 1.125em;
		padding: 0 0.75em 0.5em 0.75em;
	}
	.footer-address {
		flex-grow: 1;
		text-align: center;
		align-self: center;
	}
	.footer-links {
		flex-basis: 275px;
	}

	&.footer-left .footer-address {
		text-align: left;
		align-self: left;
	}

	.footer-links .navbar {
		.nav-link {
			padding: 0.5em 1em;
			font-weight: normal;
			text-transform: none;
		}
	}
	.navbar.social-media {
		.nav-link {
			height: 2em;
		}
		.nav-item + .nav-item {
			margin-left: 1em;
		}
	}

	.nav-box {
		margin-bottom: 2em;
		h5 {
			margin: 0;
		}
	}


	&.footer-dark .nav-box {
		h5 {
			padding-left: 0;
			margin: 0;
		}
		.navbar .nav-link {
			padding-left: 0;
			@include linkUnderline(2);
		}
	}

	&.footer-green .nav-box {
		background-color: $color-white;
		padding: 1em 0.5em;
		.nav-item {
			border-top: 1px solid $color-black;
		}
		h5 {
			padding-left: 0.25em;
		}
		.navbar .nav-link {
			padding-left: 0.5em;
			@include linkColor($color-black, $color-black);
			@include linkUnderline(0);
		}
	}
	.nav-box .navbar-vertical.social-media {
		.social-media-icon {
			height: auto;
			margin: 0.25em 0;
			text-indent: 2em;
		}
		.nav-item + .nav-item {
			margin-left: 0;
		}
		.nav-link {
			@include linkUnderline(-1);
		}
	}

	&.footer-dark,
	&.footer-green {
		color: $color-white;
		h5, h6 {
			color: $color-yellow;
		}
		a {
			@include linkColor($color-white, $color-yellow);
		}
	}
	&.footer-dark {
		background-color: $color-gray1;
	}
	&.footer-green {
		background-color: $color-green;
		background: $gradient-green;
	}

	&.footer-yellow {
		background-color: $color-yellow;
	}

	@include media-sm {
		flex-direction: column;
		section {
			margin-bottom: 3em;
		}

		.footer-links{
			flex-basis: auto;
		}
	}
}