@mixin buttonify($btnBlock: false) {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: background, background-color, color, padding, width, height;
    text-decoration: none;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 0;

    @if ($btnBlock){
        display: block;
    } @else {
        display: inline-block;
    }
    
    @include media-xl() {
        padding: 1.75em 1.75em;
    }
    @include media-lg() {
        padding: 1.5em 1.5em;
    }
    @include media-md() {
        padding: 1.25em 1.25em;
    }
    @include media-sm() {
        padding: 1.5em 1.5em;
    }
    @include media-xs() {
        padding: 1.25em 1.25em;
    }
}

@mixin btn-variant($main-color, $main-bg, $active-color, $active-bg, $underline-mode: -1){
    background-color: $main-bg;
    
    &:hover,
    &:focus,
    &[aria-expanded=true],
    &.active {
        background-color: $active-bg;
    }
    
    @include linkColor($main-color, $active-color);
    @if ($underline-mode > -1) {
        @include linkUnderline($underline-mode);
    }
}
