@mixin full-overlay(){
	visibility: hidden;
	content: "";
	position: fixed;
	top: 0; bottom: 0; right: 0; left: 0;
	background-color: rgba($color-black, 0);
	// Default Navbar z-index is 1001
	// Mobile Navbar z-index is 2000
	z-index: 1500;
	transition: background-color 0.3s ease-out;
	overflow: hidden;
	padding: 3em;

	&.active {
		visibility: visible;
		background-color: rgba($color-black, 0.75);
	}
}